spring:
  application:
    name: tarefas
  datasource:
    url: jdbc:mysql://localhost:3308/api_board_tarefa
    username: root
    password:
  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.MySQLDialect
    show-sql: true
springdoc:
  api-docs:
    path: /api-docs
server:
  compression:
    enabled: true
    mime-types: application/json,text/html
    min-response-size: 1024